body::before{
    content: "<576px (xs)";
    background-color: rgb(251, 59, 59);
    width: 10vw;
    position:fixed;
    z-index: 100;
}




@import "small";
// @import "md";
// @import "large";
// @import "xl";
// @import "xxl";
