
@media (max-width:576px) {
    // body::before{
    // content: "≥576px  (small)";
    // background-color: rgb(248, 124, 124);
    // }


    .liste_departement{
        ul{
          flex-wrap: wrap;  
          padding-left: 0;
        }
        
    }

.contenu{

    .row{
        flex-direction: column;
        width: 92%;
        .col-md-4{
            margin-top: 5%;
            img{
                width: 30%;
                margin-bottom: 5px;
            }
       
    }
    }
}

.devenir{
    .row{
        // img{
        //     position: absolute;
        //     z-index: -1;
        //     opacity: 0.6;
        //     width: 90%;
        // }
    }
}
    
    // sou

    .banner{
        flex-direction: column;
        height: auto;
        .partRech{
            width: auto;
        }
     }


     footer{
        flex-direction: column;
     }
}

@media (max-width:992px) {
  
    .avis{
        flex-direction: column;
        .carousel-caption{
            flex-direction: column !important;
        }
        .partIllu{
                    img{
               display: none;
            }
            
        }
    }
}

@media (max-width:768px) {
    
    .contenu{

        justify-content: center;
        .row{
            flex-direction: column;
            width: 92%;
            .col-md-4{
                margin-top: 5%;
                img{
                    width: 30%;
                    margin-bottom: 5px;
                }
           
        }
        }
    }

}

@media (max-width:1200px) {
   
        // sou

 .banner{
    margin-top: 90px;
    flex-direction: column;
    height: auto;
    .partRech{
        width: auto;
    }
 }

 .devenir {
    .row{
        flex-direction: column;
        align-items: center;
     }
}

}


