@import "../node_modules/bootstrap/scss/bootstrap";
@import "_mobile.scss";

/* Importation des polices de GoogleFont */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// font telecharger 
@font-face {
    font-family: 'Marydale Regular';
    src: url(font/Marydale_Regular.ttf) format("opentype");
}

/* Définition des variables pour les familles de police */
$font-family-primary: 'Roboto';
$font-family-secondary: 'Marydale Regular';

/* Mixin pour la typographie */
@mixin typography1($family: $font-family-primary, $size: 40px, $line-height: 1.5, $weight: 400, $color: rgb(0, 0, 0)) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    color: $color;
}

@mixin typography2($family: $font-family-secondary, $size: 40px, $line-height: 1.5, $weight: 400, $color: rgb(0, 0, 0)) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    color: $color;
}

.bg-body-tertiary {
    background-color: #ffffff !important;

    .container-fluid {
        .navbar-collapse {
            display: flex;
            justify-content: flex-end;

            .navbar-nav {
                gap: 2rem;

                .nav-item {
                    .nav-link {
                        @include typography2();
                        font-size: 24px;
                        display: inline-block;
                        background-color: rgb(255, 255, 255);
                        border-radius: 13px;
                        padding-left: 1rem;
                        padding-right: 1rem;

                        &:hover {
                            color: rgb(255, 255, 255);
                            display: inline-block;
                            background-color: rgb(0, 0, 0);
                            border-radius: 13px;
                            padding-left: 1rem;
                            padding-right: 1rem;
                        }
                    }
                }

                // .custom-nav-item {
                //     background-color: rgb(0, 0, 0);
                //     border-radius: 13px;
                //     padding-left: 1rem;
                //     padding-right: 1rem;

                //     .nav-link {
                //         color: rgb(255, 255, 255);
                //         &:hover {
                //                 color: rgb(0, 0, 0); // Change la couleur du texte au survol
                //                 text-decoration: underline; // Ajoute un soulignement
                //             }
                //     }
                // }
            }
        }
    }
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .partRech {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 50%;

        .d-flex {
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;

            .bi-search {
                position: absolute;
                z-index: 5;
                bottom: 24%;
                left: 21%;
            }

            .form-control {
                border: 2px solid black;
                height: 7vh;
                width: 60%;
                border-radius: 10px;
            }

            ::placeholder {
                @include typography2();
                font-size: 18px;
                color: rgba(171, 171, 171, 1);
            }

            .btn-outline-success {
                position: absolute;
                right: 22%;
                bottom: 15%;
                display: inline-block;
                background-color: black;
                border: none;
                border-radius: 10px;
                @include typography1();
                font-size: 14px;
                color: white;
            }
        }

        .liste_departement {
            display: inline-block;
            border: 2px solid black;
            width: auto;
            height: 7vh;
            border-radius: 10px;
            padding: 0 1rem;

            ul {
                display: flex;
                align-items: center;
                height: 100%;
                margin: 0;
                padding: 0;
                flex-wrap: nowrap;
                gap: 1rem;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    list-style: none;

                    a {
                        text-decoration: none;
                        @include typography1();
                        font-size: 14px;
                        white-space: nowrap;
                        &:hover{
                            color: rgba(133, 62, 243, 1);
                            transform: scale(1.1);
                            font-weight: 500;
                        }
                    }
                }
            }

            p {
                @include typography1();
                color: rgba(213, 213, 213, 1);
                font-size: 15px;
                margin-top: 1vh;
            }
        }

    }

    .partIllu {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
}